body {
	margin: 0;
	font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
}
	p {
		margin: 0;
	}
	ul {
		padding: 0;
		margin: 0;
	}
	.clearfix::after {
	    display: table;
	    content: "";
	    clear: both;
	}
	.entire-screen {
		background-position: center top;
		background-size: auto 950px;
		background-repeat: no-repeat;
		min-width: 1170px;
	}
		.layout {
			width: 1170px;
			margin: 0 auto;
		}
/*HEADER*/
	header {
		background-image: url(../images/header.jpg);
		height: 950px;
	}
		.logo {
			height: 41px;
			width: 92px;
			display: inline-block;
			background-repeat: no-repeat;
			margin-top: 56px;
			background-image: url(../images/logo.png);
		}
		.photo-text {
			width: 380px;
			padding-top: 350px;
			color: white;
			font-size: 0.625rem;
			line-height: 1.3925rem;
		}
			.photo-title {
				font-size: 2.375rem;
				padding-bottom: 40px;
				font-weight: normal;
			}
		.side-text {
			text-transform: uppercase;
			transform: rotate(270deg);
			color: white;
			font-size: 0.625rem;
			float: left;
		}
		@media screen and (max-width: 1350px) {
			.side-text {
				display: none;
			}
		}
/*END HEADER*/	


	
	.main-article {
		columns: 2;
		position: relative;
		margin-top: 114px;
	}
		.top-article-img {
			position: absolute;
			top: -797px;
			right: -40px;
		}
		.main-article h1 {
			font-weight: normal;
			font-size: 1.88rem;
			margin: 0 0 20px 0;
			color: #222626;
		}
		.main-article p {
			font-size: 0.71rem;
			line-height: 1.3925rem;
			color: #959595;
			margin-top: 30px;
		}
		.main-article :nth-child(6) {
			margin-top: 205px;
		}




	.articles {
		margin-top: 88px;
		overflow: hidden;
	}
		.articles article {
			box-sizing: border-box;
			padding: 51px 55px 61px 43px;
			color: white;
			float: left;
			height: 277px;
		}
		.article-one {
			width: 33.33%;
			background-color: #f5989d;
		}
			.article-title {
				font-weight: normal;
				font-size: 1.65rem;
				margin: 0 0 32px 0;
			}
			.article-text {
				font-size: 0.625rem;
				line-height: 1.3925rem;
				margin-bottom: 40px;
			}
			.articles article a {
				font-weight: bold;
				text-decoration: none;
				font-size: 0.625rem;
				color: white;
			}
		.article-two {
			background-color: #615f7d;
			width: 33.33%;
		}
		.article-three {
			width: 33.33%;
			background-image: url(../images/article3.png);
		}
			.article-three .heart {
				position: relative;
				right: -266px;
				bottom: 21px;
			}
		.article-four {
			width: 66.66%;
			background-image: url(../images/article4.png);
		}
			.article-four .heart {
				position: relative;
				right: -651px;
				bottom: 21px;
			}
		.article-five {
			width: 33.33%;
			background-color: #82ca9c;
		}


	.details {
		margin: 95px 0 160px 0;
	}
		.details h2 {
			font-weight: normal;
			font-size: 1.88rem;
			margin: 0 0 60px 0;
		}
		.aspects {
			float: left;
			width: 25%;
			font-size: 0.71rem;
			line-height: 1.3925rem;
			padding: 15px;
			box-sizing: border-box;
		}
			.aspects h4 {
				font-size: 0.625rem;
			}
	
	.big-picture {
		background-image: url(../images/background.png);
		height: 875px;
	}	
		.big-picture h2 {
			font-size: 2.375rem;
			font-weight: normal;
			line-height: 2.3925rem;
		}
		.big-picture p {
			padding-bottom: 27px;
		}
		.big-picture a {
			text-decoration: none;
			font-weight: bold;
			color: white;
		}

	.reasons-wrapper {
		background-color: #82ca9c;
	}
		.reasons {
			padding: 130px;
			color: white;
			max-height: 535px;
		}
			.reasons h2 {
				margin: 0 0 70px 0;
				font-weight: normal;
				font-size: 1.88rem;
			}
			.reasons section {
				float: left;
				width: 33.33%;
				padding-right: 15px;
				padding-left: 15px;
				box-sizing: border-box;
				font-size: 0.71rem;
				line-height: 1.3925rem;
			}
				.reasons section:last-child {
					padding-right: 0;
				}
				.reasons section:nth-child(2) {
					padding-left: 0;
				}
				.reasons h4 {
					font-size: 0.625rem;
					margin: 0 0 30px 0;
				}

	.sale {
		background-color: #f6f7fa;
		line-height: 1.3925rem;
	}
		.product-one, .product-two {
			float: left;
			height: 380px;
			width: 570px;
			margin: 103px 0 146px 0;
			padding: 47px 85px 56px 54px;
			box-sizing: border-box;
		}
		.product-two {
			background-color: white;
		}
			.products .first-button {
				text-transform: uppercase;
				color: white;
				height: 24px;
				font-size: 0.529rem;
				border-radius: 6px;
			}
			.product-one .first-button {
				width: 77px;
				background: #e1e1e1;
				border: 1px solid #e1e1e1;
			}
			.product-two .first-button {
				width: 110px;
				background-color: #bd8cbf;
				border: 1px solid #bd8cbf;
			}
			.products .sale-button {
				background-color: #82ca9c;
				width: 151px;
				height: 46px;
				font-size: 0.625rem;
				border: 1px solid #82ca9c;
				color: white;
				border-radius: 4px;
			}
			.products h3 {
				color: #2e3b4e;
				font-size: 1.65rem;
				margin: 24px 0;
				font-weight: normal;
			}
			.products p {
				color: #8297a7;
				font-size: 0.71rem;
				margin-bottom: 31px;
			}
			.operation-systems {
				margin-top: 19px;
			}
				.products .window {
					height: 33px;
					width: 33px;
					display: inline-block;
					background-repeat: no-repeat;
					background-image: url(../images/window.png);
				}
				.products .apple {
					height: 33px;
					width: 33px;
					display: inline-block;
					background-repeat: no-repeat;
					background-image: url(../images/apple.png);
				}


	.footer-background {
		background-color: #192431;
	}
		.footer {
			padding: 130px 0 158px 0;
			color: #f6f7fa;
			font-size: 0.625rem;
			line-height: 1.3925rem;
		}
			.footer-column1 {
				float: left;
				width: 50%;
			}
			.footer-column2 {
				float: right;
				width: 50%;
				padding-left: 88px;
				box-sizing: border-box;
				position: relative;
			}
				.footer a {
					text-decoration: none;
					color: white;
				}
				.footer li {
					list-style-type: none;
				}
				.footer h4 {
					margin: 0 0 30px 0;
					font-weight: normal;
				}
				.footer nav {
					margin-top: 75px;
				}
				.footer nav ul {
					float: left;
					width: 33.33%
				}
				.footer nav ul :first-child {
					margin-bottom: 32px;
				}
				.footer-column2 input[type="text"] {
					width: 403px;
					height: 59px;
				}
				.footer-column2 button {
					width: 71px;
					height: 59px;
					background-color: #82ca9c;
					background-image: url(../images/tick.png);
					background-repeat: no-repeat;
					border: none;
					padding: 0;
					position: absolute;	
					background-position: center;
				}
				.footer-column2 p {
					color: #57697f;
					margin-top: 20px;
					font-size: 0.577rem;
					display: block;
					width: 275px;
				}
				
